.footer {
    height: 20vh;
    position: relative;
    background-color: rgb(156, 235, 235);
    border-radius: 100px 0 0 0;
    z-index: 10;
}

.footer::before {
    content: "";
    position:absolute;
    bottom: 150px;
    right:0;
    height: 200px;
    width: 200px;
    border-bottom-right-radius: 100px;
    background-color: #fff;
    z-index: 9;
}

.footer::after {
    content: '';
    position: absolute;
    bottom: 150px;
    right: 0;
    height: 200px;
    width: 200px;
    background-color: rgb(156,235,235);
    z-index: 8;
}